# Server
PORT=3000

# MongoDB
MONGODB_USER=your_user
MONGODB_PASSWORD=your_password
MONGODB_URL=cluster0.your_id.mongodb.net
MONGODB_DB=contactsDB

# SMTP (Email)
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_email@smtp-brevo.com
SMTP_PASSWORD=your_smtp_password
SMTP_FROM=your_email@gmail.com

# JWT
JWT_SECRET=your_jwt_secret
APP_DOMAIN=http://localhost:3000/auth

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret



